footer {
  padding: 2rem;
  background-color: var(--dark-bg-color);
  font-size: var(--body-font-size-s);
  color: var(--link-color-dark);  
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer .footer a {
  color: var(--link-color-dark);
  text-decoration: none;
}

footer .footer a:hover {
  text-decoration: underline;
}

footer .footer ul {
  list-style: none;
}

footer .footer div > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: start;
  
}
footer .footer div div ul {
  flex: 1 1 auto;
}

